<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.reservas">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reservas"
        tools:targetApi="31">
        <activity
            android:name=".consultaHorario"
            android:exported="false" />
        <activity
            android:name=".adapterCaballo"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.nuevaReserva"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.losspasw"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.Nuevo_Producto"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.EditarProductos"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.ConsultaReserva"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>